@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white dark:bg-zinc-900 selection:bg-primary-500/30 dark:selection:bg-primary-400/40;
}

@layer base {
  html,
  body {
    @apply min-h-screen;
  }

  body {
    @apply flex flex-col;

    -webkit-tap-highlight-color: transparent;
  }

  [data-reactroot] {
    @apply contents;

    > * {
      @apply flex-none w-full;
    }
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }
}

@layer utilities {
  .focusable {
    @apply box-decoration-clone focus:outline-none focus:ring focus:ring-primary-500 dark:focus:ring-primary-400 focus:ring-opacity-40 dark:focus:ring-opacity-40;
  }

  .highlight {
    &::before {
      @apply absolute inset-0 pointer-events-none z-10;

      border-radius: inherit;
      box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
      content: "";
    }
  }

  .highlight-invert {
    &::before {
      box-shadow: inset 0 0 0 1px rgb(255 255 255 / 8%);
    }
  }

  .link {
    @apply transition focusable rounded-sm underline focus:decoration-transparent underline-offset-2 decoration-zinc-600/20 dark:decoration-white/20 selection:decoration-zinc-600/20 dark:selection:decoration-white/20 hover:decoration-zinc-600/40 dark:hover:decoration-white/40;
  }

  .link-primary {
    @apply decoration-primary-500/30 dark:decoration-primary-400/30 selection:decoration-primary-500/30 dark:selection:decoration-primary-400/30 hover:decoration-primary-500/60 dark:hover:decoration-primary-400/60;
  }
}

@layer components {
  .content {
    @apply mx-auto max-w-screen-sm px-5-safe;
  }

  .content-lg {
    @apply mx-auto max-w-screen-lg px-5-safe;
  }
}

:not(pre) > code {
  @apply relative whitespace-nowrap;

  margin: 0 0.4em;

  &::before {
    @apply absolute z-negative bg-zinc-100 dark:bg-zinc-750;

    border-radius: 0.4em;
    content: "";
    inset: -0.25em -0.4em -0.3em;
  }
}

pre[class*="language-"] {
  .token {
    &.important,
    &.bold {
      @apply font-bold;
    }

    &.entity {
      @apply cursor-help;
    }

    &.comment,
    &.prolog,
    &.cdata,
    .language-markdown &.blockquote.punctuation,
    .language-markdown &.hr.punctuation {
      @apply text-zinc-400 dark:text-zinc-500;
    }

    &.comment,
    .language-markdown &.blockquote.punctuation,
    .language-markdown &.hr.punctuation {
      @apply italic;
    }

    &.doctype,
    &.punctuation,
    &.entity,
    &.attr-value > &.punctuation.attr-equals,
    &.special-attr > &.attr-value > &.value.css,
    .language-css &.property,
    .language-json &.operator,
    .language-markdown &.url,
    .language-markdown &.url > &.operator,
    .language-markdown &.url-reference.url > &.string {
      @apply text-zinc-500 dark:text-zinc-400;
    }

    &.keyword,
    .language-css &.important,
    .language-css &.atrule &.rule,
    .language-javascript &.operator,
    .language-jsx &.operator,
    .language-typescript &.operator,
    .language-tsx &.operator {
      @apply text-yellow-600 dark:text-yellow-300;
    }

    &.property,
    &.tag,
    &.symbol,
    &.deleted,
    &.important,
    .language-css &.selector,
    .language-markdown &.strike &.content,
    .language-markdown &.strike &.punctuation,
    .language-markdown &.list.punctuation,
    .language-markdown &.title.important > &.punctuation {
      @apply text-cyan-600 dark:text-cyan-300;
    }

    &.attr-name,
    &.class-name,
    &.boolean,
    &.constant,
    &.number,
    &.atrule,
    .language-json &.null.keyword,
    .language-markdown &.bold &.content {
      @apply text-violet-600 dark:text-violet-400 bg-violet-600/5 dark:bg-violet-400/10;

      padding: 0 0.2em;
      border-radius: 0.2em;
    }

    &.selector,
    &.char,
    &.builtin,
    &.inserted,
    &.regex,
    &.string,
    &.attr-value,
    &.attr-value > &.punctuation,
    .language-css &.url > &.string.url,
    .language-markdown &.code-snippet {
      @apply text-lime-600 dark:text-lime-300 bg-lime-600/5 dark:bg-lime-300/10;

      padding: 0 0.2em;
      border-radius: 0.2em;
    }

    &.variable,
    &.operator,
    &.function,
    .language-markdown &.url > &.content {
      @apply text-sky-600 dark:text-sky-300;
    }

    &.url,
    .language-css &.function,
    .language-css &.url > &.function,
    .language-markdown &.url > &.url,
    .language-markdown &.url-reference.url {
      @apply text-pink-600 dark:text-pink-300;
    }
  }
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-6;

    a[aria-hidden="true"] {
      @apply relative no-underline hidden md:block opacity-0 transition focus:outline-none text-zinc-300 hover:!text-zinc-400 dark:text-zinc-600 dark:hover:!text-zinc-500;

      padding-right: 1em;
      margin-left: -1em;

      &::before {
        @apply absolute;

        content: "#";
      }
    }

    &:hover a[aria-hidden="true"] {
      @apply opacity-100;
    }
  }

  pre[class*="language-"] {
    @apply border border-zinc-150 dark:border-zinc-800;
  }

  a:not([aria-hidden="true"]) {
    @apply link;
  }

  details {
    @apply my-1;

    summary {
      @apply my-1 rounded cursor-pointer focusable ring-offset-2 dark:ring-offset-zinc-900 transition;
    }
  }
}

.prose-primary {
  a:not([aria-hidden="true"]) {
    @apply link-primary;
  }
}

.avatar {
  @apply bg-white inline-block overflow-hidden relative highlight rounded-full ring-offset-2;

  box-shadow: 0 0 0 2px theme("colors.white"), 0 0 1px 2px rgb(0 0 0 / 8%),
    0 1px 4px 2px rgb(0 0 0 / 8%), 0 2px 8px 2px rgb(0 0 0 / 6%);

  & > span {
    @apply !absolute !inset-0 !w-full !h-full;
  }
}

.aura {
  background: radial-gradient(
    farthest-side at center -100%,
    theme("colors.primary.500"),
    transparent
  );
}

.logo {
  padding-top: 0.2em;

  img {
    @apply max-w-full h-auto;

    width: calc(1.2em * 415 / 80);
    margin-bottom: -0.2em;
  }
}
